html,
body {
    height: 100%;
    overflow-y: hidden;
    font-family: 'Shippori Mincho B1', serif;
}

body {
    background-color: #1E2140;
    color: crimson;
}

.container {
    height: 100vh;
}

h1,
h2,
h5,
p {
    font-weight: bold;
}

h2 {
    text-decoration: overline;
    font-style: italic;
}

.main-heading {
    height: 10vh;
    padding-top: 20px;
}

.session-heading {
    padding-top: 40px;
}

.break-input,
.work-input {
    height: 10vh;
    padding-top: 15px;
}

.info-section {
    height: 50vh;
    padding-top: 65px;
}

.tracker-theme {
    width: 100%;
    font-size: 28px;
    padding-left: 35px;
    font-style: italic;
}

.controls {
    height: 10vh;
    padding-top: 20px;
}

#timer {
    color: snow;
    padding-top: 50px;
    font-size: 40px;
}

i,
#break-duration,
#work-duration {
    color: snow;
    font-size: 24px;
}

.disableControls {
    pointer-events: none;
}

.fa-clock {
    font-size: 2.5rem;
    color: crimson
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: black;
    border-radius: 50px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    position: relative;
    height: 32px;
    width: 58px;
    transform: scale(1.5);
    margin-top: 15px;
}

.label .ball {
	background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 29px;
    width: 29px;
    transform: translateX(-2px);
    transition: transform 0.2s linear;
    padding-right: 10px;
}

.checkbox:checked + .label .ball {
	transform: translateX(26px);
}


.fa-moon {
    color: #f1c40f;
    padding: 4px;
}

.fa-sun {
	color: #f39c12;
}

p {
    padding-top: 10px;
}

@media screen and (max-width: 426px) {
    i,
    #break-duration,
    #work-duration {
        font-size: 15px;
    }

    #timer {
        padding-top: 30px;
        font-size: 30px;
    }

    .tracker-theme,
    h2 {
        font-size: 20px;
    }

    h1,
    .fa-clock {
        font-size: 25px;
    }

    .tracker-theme {
        padding-top: 15px;
    }


    .label {
        height: 20px;
        width:40px;
        margin-left: 20px;
    }

    .label .ball {
        height: 17px;
        width: 17px;
        transform: translateX(-1px);
    }

    .checkbox:checked + .label .ball {
	transform: translateX(18px);
}
}