html,
body {
    height: 100%;
    overflow-y: hidden;
    font-family: 'Shippori Mincho B1', serif;
}

body {
    background-color: #1E2140;
    color: crimson;
}

.container {
    height: 100vh;
}

h2 {
    text-decoration: overline;
    font-style: italic;
}

.main-heading {
    height: 10vh;
    padding-top: 20px;
}

.session-heading {
    padding-top: 40px;
}

.break-input,
.work-input {
    height: 10vh;
    padding-top: 15px;
}

.info-section {
    height: 50vh;
    padding-top: 65px;
}

.tracker-theme {
    width: 100%;
    font-size: 24px;
    padding-left: 35px;
    font-style: italic;
}

.controls {
    height: 10vh;
}

#timer {
    color: snow;
    padding-top: 80px;
    font-size: 40px;
}

i,
#break-duration,
#work-duration {
    color: snow;
    font-size: 24px;
}

.disableControls {
    pointer-events: none;
}

.fa-clock {
    font-size: 2.5rem;
    color: crimson
}

@media screen and (max-width: 375px) {
    i,
    #break-duration,
    #work-duration {
        font-size: 15px;
    }

    #timer {
        padding-top: 30px;
    }

    .tracker-theme,
    h2 {
        font-size: 20px;
    }

    h1,
    .fa-clock {
        font-size: 25px;
    }

    .tracker-theme {
        padding-top: 15px;
    }
}