html,
body {
    height: 100%;
    overflow-y: hidden;
}

body {
    background-color: #1E2140;
    color: crimson;
}

.container {
    height: 100vh;
}

.main-heading {
    height: 10vh;
    padding-top: 20px;
}

.session-heading {
    padding-top: 40px;
}

.break-input,
.work-input {
    height: 10vh;
    padding-top: 15px;
}

.info-section {
    height: 50vh;
    padding-top: 65px;
}

.controls {
    height: 10vh;
}

#timer {
    padding-top: 80px;
}

i,
#timer,
#break-duration,
#work-duration {
    color: snow;
    font-size: 24px;
}

@media screen and (max-width: 375px) {
    i,
    #break-duration,
    #work-duration {
        font-size: 15px;
    }
}